*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cradle{
    width: 300px;
    height: 270px;
    border: 2px solid #000;
    border-bottom: 20px solid #000;
    border-top: 10px solid #000;
    position: relative;
}
span{
    position: absolute;
    width: 2px;
    height: 200px;
    background: #000;
    top: 0;
    transform-origin: top;
}
@keyframes animate{
    0%{
        transform: rotatez(0deg);
    }
    25%{
        transform: rotateZ(60deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
span:first-child{
    left: 80px;
    animation: animate 1.5s linear infinite;
}
span:nth-child(2){
    left: 110px;
    animation-delay: 0s;
    animation: anim 1.5s linear infinite;
}
span:nth-child(3){
    left: 140px;
    animation-delay: 0.2s;
    animation: anim 1.5s linear infinite;
}
span:nth-child(4){
    left: 170px;
    animation-delay: .4s;
    animation: anim 1.5s linear infinite;
}
span:last-child{
    left: 200px;
    animation: animate2 1.5s linear infinite;
    animation-delay: .75s;
}
@keyframes animate2{
    0%{
        transform: rotatez(0deg);
    }
    25%{
        transform: rotateZ(-60deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
span::before{
    width: 30px;
    height: 30px;
    background: #000;
    bottom: 0;
    content: '';
    position: absolute;
    border-radius: 50%;
    left: -15px;
}